* {
  outline: none;
  -webkit-overflow-scrolling: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  margin-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
