.fieldLabel {
  display: flex;
  height: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: -0.25px;
  color: $grey110;
  margin: 12px 8px 4px 8px;

  .required {
    color: $fireRed50;
  }
}
