.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid $grey40;

  @media screen and (max-width: 767px) {
    padding: 0 12px;
  }

  .headerHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .logo {
      display: flex;
      align-items: center;
    }

    .eventsFilter {
      display: flex;

      .eventType {
        &:hover {
          cursor: pointer;
          color: $blue-border;
        }
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
